@media (min-width: 768px) {
	// nav hamvurger
	.hamburger--active {
		transform: translatex(40em);
	}
	.hamburger__box {
		width: 60px;
		height: 50px;
	}

	.hamburger__inner::before {
		top: -15px;
	}

	.hamburger__inner::after {
		top: 15px;
	}
	.hamburger--active .hamburger__inner:before {
		transform: translateY(15px) rotate(45deg);
	}

	.hamburger--active .hamburger__inner:after {
		transform: translateY(-15px) rotate(-45deg);
	}
	.navigation {
		&__list {
			&-item {
				margin: 2rem;
				padding: 20px 40px;
				font-size: 2.2rem;
				color: #e0dfd5;
			}
		}
	}
	.contact__box {
		right: 4rem;
		height: 35em;
		width: 35em;

		&-tittle {
			margin-bottom: 2em;
			font-size: 2.5rem;
		}

		&-phone {
			margin-bottom: 3.2em;
			font-size: 2rem;
		}
		&-email {
			margin-bottom: 1.2em;
			font-size: 2rem;
		}
	}
	.contact-button {
		i {
			padding: 0.25em;
			font-size: 7rem;
		}
	}

	// main
	.section-title {
		font-size: 3.5rem;
	}
	// o nas
	.aboudus {
		&__box {
			font-size: 1.75rem;
		}
		&__box2 {
			flex-direction: row;
			justify-content: space-between;
			padding: 1.2em;

			&-card1 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 2em;
				width: 50%;
			}
			&-card2 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 50%;

				&-img2 {
					height: 5rem;
				}
			}
		}
		&__cardbox {
			flex-direction: row;
			flex-wrap: wrap;

			&-card {
				width: 33%;
			}
		}

		.team {
			margin-top: 1.5em;
			font-size: 3rem;
		}

		&__photobox {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 2em;
			&-photo {
				display: flex;
				flex-direction: row;
				margin: 1em;
				height: 125px;
				width: 33%;
				background-color: rgb(224, 224, 224);
				border-radius: 40px;
				border-top-left-radius: 45%;
				border-bottom-left-radius: 45%;

				img {
					width: 125px;
					height: 100%;
					transform: translate(-2%);
				}
			}
			&-tittle {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 1.2rem;
				.name {
					font-size: 2rem;
					color: rgb(214, 22, 64);
				}
			}
		}
	}
	.track {
		.box {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__box {
			margin: 1rem;
			margin-bottom: 3rem;
			width: 46%;
			height: 65rem;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 50%;
				&-tittle {
					display: block;
					padding: 2.5rem 1rem;
					padding-top: 3rem;
					margin-bottom: 1rem;
					margin-top: 2rem;
					text-transform: uppercase;
					font-size: 2rem;
				}

				&-info {
					font-size: 1.3rem;
					&--last {
						font-size: 1.25rem;
					}
				}
				&-link {
					margin-bottom: 1.3rem;
					a {
						font-size: 1.4rem;
					}
				}
			}

			&-photo {
				margin-top: 1em;
				height: 50%;
				img {
					width: 100%;
					height: 100%;

					border-radius: 15px;
				}
			}
		}
		&__tittle {
			margin-bottom: 2rem;
			width: 100%;
			font-size: 3rem;
		}
	}
	.accessories {
		&__info {
			&-text {
				font-size: 1.4rem;

				&-contakt {
					font-size: 1.7rem;
				}
				.fa-facebook {
					font-size: 5rem;
				}
			}
		}
		&__img-mobile {
			margin-top: 4rem;
			&-box {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				img {
					width: 30%;
					height: 20rem;
					object-fit: cover;
					box-shadow: 15px 15px 26px #808080, -15px -15px 26px #eadeda;
					border-radius: 50%;
				}
			}
		}
	}
	.arrangements {
		&__accordion {
			&-box {
				&-info {
					font-size: 1.5rem;
				}
			}
		}
	}

	.planning {
		&__box {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			&-text {
				font-size: 1.4rem;
			}
			&-planning,
			&-lanes,
			&-finances,
			&-arrangements,
			&-equipment {
				width: 45%;
				margin-right: 2rem;

				&-info {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					height: 100%;
					&-tittle {
						padding: 2rem;
						font-size: 1.8rem;
					}
					&-text {
						font-size: 1.6rem;
						a {
							transition: color 0.3s;
						}
						a:hover {
							color: #e2bfc8;
						}
					}
					&-photo {
						height: 30%;
						// margin-top: auto;
					}
				}
			}
			&-download {
				position: relative;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-top: 2rem;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 1rem;
					padding: 10px 20px;
					height: 5rem;
					width: 22%;
					text-align: center;
					text-decoration: none;
					font-size: 1.5rem;
					border: 1px solid black;
					border-radius: 40px;
				}

				a:before {
					display: none;
				}

				a:hover,
				a:focus {
					background-color: #ec0b43;
					color: #fff;
				}
			}
		}
		.pdf {
			margin-top: 2rem;
		}
	}
	.galleryPhoto {
		&__btn-box {
			&-button {
				font-size: 1.4rem;
			}
		}

		&__box {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			&-item {
				margin: 1rem;
				width: 47%;
				height: 450px;
			}
			.show-photo1 {
				position: relative;
			}
			&-item:first-child {
				position: relative;
				width: 100%;
				z-index: 2;
			}
		}
	}
	.service {
		font-size: 1.6rem;

		&__serv,
		&__moder {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 100%;
			&-contacts {
				position: relative;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 1.6rem;
				&-tel,
				&-email {
					margin-bottom: 2rem;

					a {
						padding: 5px;
						text-decoration: none;
						color: #007ea7;
					}
				}
				.fa-bowling-ball {
					position: absolute;
					display: block;
					font-size: 7rem;
					color: #ec0b4334;
				}
				.ball-top {
					display: none;
				}
				.ball-bottom {
					display: none;
				}
			}

			&-info {
				width: 100%;
				text-align: center;
				&-list {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					flex-wrap: wrap;
					align-content: center;

					li {
						text-align: left;
					}
				}
			}
		}
		&__news-boxs {
			margin: 2rem 0;
			margin-top: 10rem;
			&-title {
				text-align: center;
			}
			&-info {
				display: flex;
				flex-direction: column;
				margin-top: 0.5rem;
				text-align: center;
				span {
					margin: 1rem;
					font-weight: bold;
					color: #007ea7;
				}
			}
		}
		&__news-card {
			display: flex;
			justify-content: space-around;
			&-one,
			&-two {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 3rem;
				width: 48%;

				&-title {
					font-size: 1.8rem;
				}
				&-info {
					margin-left: 2rem;
					margin: auto;
					font-weight: 400;
					font-size: 1.7rem;
				}
				margin-bottom: 5rem;
			}
			&-two {
				color: #e8e9eb;
				background: linear-gradient(150deg, #007ea7, #040404d5);
				border-radius: 20px;
			}
			&-left {
				text-align: left;
			}
		}
	}
	.contact {
		padding: 2rem;
		font-size: 1.3rem;
		&__boxs {
			display: flex;
			justify-content: space-around;
			&-main,
			&-acc {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 45%;
				&-info {
					margin: 0.5rem;
					&-span {
						margin-right: 0.5rem;
						font-weight: bold;
					}
					&-NIP {
						margin-left: 0.5rem;
					}
					a {
						margin-right: 0.5rem;
						text-decoration: none;
						font-weight: bold;
						color: #007ea7;
					}
					&--number {
						align-self: flex-start;
					}
				}
			}
		}
	}
}

@media (min-width: 800px) {
	.hamburger--active {
		transform: translatex(47em);
	}
	.accessories {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5px;
		margin: auto;

		&__info {
			&-text {
				padding: 1.5rem;
				font-size: 1.5rem;

				&-contakt {
					font-size: 1.5rem;
				}
				.fa-facebook {
					font-size: 5rem;
					color: royalblue;
				}
				.fa-facebook:hover {
					color: rgb(25, 48, 115);
				}
			}
		}
		&__img {
			position: relative;
			display: block;
			margin: auto;
			margin-top: 3rem;
			width: 800px;
			height: 40rem;
			border-radius: 6px;
			overflow: hidden;

			&-box {
				display: flex;
				width: 800px;
				height: 40rem;
				transform: translateY(0);
				transition: transform 0.5s;

				img {
					width: 400px;
					border-radius: 15px;
				}
			}
			&-button {
				cursor: pointer;
				position: absolute;
				top: 50%;
				padding: 1rem 1.5rem;
				font-size: 2rem;
				color: white;
				background-color: rgba(0, 0, 0, 0.4);
				border: none;
				transform: translateY(-50%);
				z-index: 10;
				&--right {
					right: 0;
				}
				&--left {
					left: 0;
				}
			}
		}
		&__img-mobile {
			display: none;
		}
	}
}
