@use "./animation";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
$dark: #171717;
$gray: #333;
$red: rgb(214, 22, 64);

html {
	scroll-behavior: smooth;
	height: -webkit-fill-avaiable;
	font-size: 62.5%;
}
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background-color: #f5f0f0;
	font-family: "Montserrat", sans-serif;
	/* mobile viewport bug fix */
}

// pływający rzycisk

.contact__box {
	position: fixed;
	right: 10px;
	bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	height: 30em;
	width: 30em;
	background-color: #007ea7;
	border-radius: 40px;
	text-align: center;
	transition: transform 0.4s;
	transform: translate(130%, 130%) scale(0);
	z-index: 110;

	&-tittle {
		margin-bottom: 2em;
		font-size: 2rem;
		font-weight: bold;
		color: #e8e9eb;
	}

	&-phone {
		margin-bottom: 3em;
		font-size: 1.5rem;
		font-weight: bold;
		a {
			cursor: pointer;
			padding: 1.75em;
			text-decoration: none;
			color: #e8e9eb;
		}
		i {
			margin-right: -1.5em;
			color: #e8e9eb;
		}
	}
	&-email {
		margin-bottom: 1.2em;
		font-size: 1.5rem;
		font-weight: bold;

		a {
			cursor: pointer;
			padding: 1em;
			text-decoration: none;
			color: #e8e9eb;
		}
		i {
			margin-right: -1em;
			color: #e8e9eb;
		}
	}
}
.show {
	transform: translate(0) scale(1);
}
.contact-button {
	position: fixed;
	bottom: 10px;
	right: 15px;
	z-index: 115;
	i {
		padding: 0.5rem;
		font-size: 6rem;
		color: #ef271b;
		z-index: 11;
	}
}

// Nav Burger mobile
@mixin hamburger-line {
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #ec0b43;
}
.redtext {
	color: #ec0b43;
}
.bluetext {
	color: #007ea7;
}
.mintext {
	font-size: 2rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.hamburger {
	cursor: pointer;
	position: fixed;
	display: inline-block;
	margin: 0;
	padding: 2em;
	background-color: transparent;
	border: 0;
	z-index: 120;
	&__box {
		display: inline-block;
		position: relative;
		width: 35px;
		height: 24px;
		z-index: -5;

		&-inner {
			@include hamburger-line;

			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: background-color 0.1s 0.2s ease-in-out;
		}

		&-inner::before,
		&-inner::after {
			@include hamburger-line;

			content: "";
			left: 0;
			transition: transform 0.2s 0.2s ease-in-out;
		}
		&-inner::before {
			top: -10px;
		}

		&-inner::after {
			top: 10px;
		}

		.hamburger--active .hamburger__inner {
			background-color: transparent;
		}
	}

	&--active {
		transform: translatex(20rem);
	}
}

.hamburger,
.navigation {
	transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger--active .hamburger__box-inner {
	background-color: transparent;
}

.hamburger--active .hamburger__box-inner:before {
	transform: translateY(10px) rotate(45deg);
	background-color: $dark;
}

.hamburger--active .hamburger__box-inner:after {
	transform: translateY(-10px) rotate(-45deg);
	background-color: $dark;
}
.nav__desktop {
	display: none;
}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 90%;
	background-color: #ef271b;
	background-image: linear-gradient(147deg, #ef271b 0%, #007ea7 80%);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	transform: translateX(-110%);
	transition: transform 0.3s;
	z-index: 130;

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		&-item {
			margin: 1rem;
			padding: 10px 30px;
			font-size: 1.5rem;
			text-decoration: none;
			color: #e0dfd5;
			font-weight: 600;
		}
	}
	&--active {
		position: fixed;
		transform: translateX(0px);
		z-index: 99;
	}

	.mobile-logo {
		margin-bottom: 0;
		img {
			width: 100%;
		}
	}
}
// homee
.header {
	.hero-img {
		position: relative;
		height: 100vh;
		min-height: 100vh;
		min-height: -webkit-fill-available;
		background-image: url("../../dist/img/Galeria/header.jpg");
		background-position: center;
		background-size: cover;
		z-index: 0;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
		min-height: 100vh;
		min-height: -webkit-fill-available;
		text-align: center;
		color: #f5f0f0;
		z-index: 5;
		h1 {
			margin-bottom: 0.5em;
			font-size: 3rem;
			text-transform: uppercase;
		}
		p {
			font-size: 1.7rem;
		}
	}
	.hero-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(5, 5, 5, 0.675);
		z-index: -10;
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		bottom: 10%;
		padding: 1em;
		font-size: 3rem;
		color: #f5f0f0;
		transform: translate(-50%);
	}
}
.desktop-photo {
	display: none;
}

// main
.section-title {
	margin-bottom: 1em;
	padding-top: 3rem;
	text-align: center;
	font-size: 3rem;
	color: #262322;
}
// O nas
.aboudus {
	&__box {
		padding: 1em;
		text-align: center;
		font-size: 1.6rem;
	}
	&__box2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		&-card1 {
			&-img1 {
				margin-bottom: 1.5em;
				width: 100%;
				height: 5em;
			}
		}
		&-card2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&-img2 {
				height: 5em;
				width: 40%;
			}
		}

		&-tittle {
			padding: 1em;
			margin-bottom: 1em;
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	&__cardbox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-top: 5em;

		&-card {
			margin-bottom: 2em;
			padding-left: 1em;
			padding-right: 1em;

			&-tittle {
				margin-bottom: 0.5em;
				font-size: 1.5rem;
				font-weight: bold;
				color: #262322;
			}

			&-text {
				margin-bottom: 0.5em;
				font-size: 1.4rem;
			}

			.fas {
				margin-bottom: 0.5em;
				font-size: 2.3rem;
				color: #ef271b;
			}
		}
	}
	&__photobox {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
		padding-left: 1em;
		padding-right: 1em;

		&-photo {
			display: flex;
			flex-direction: column;
			margin: 2rem 1.2rem;
			margin-top: auto;
			padding-bottom: 1rem;
			width: 130px;
			height: 200px;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			img {
				width: 125px;
				height: 125px;
				border-radius: 40%;
			}
		}
		&-tittle {
			padding: 1rem;
			text-align: center;
			font-size: 1.1rem;
			font-weight: normal;
			color: #171717;

			.name {
				font-size: 1.3rem;
				font-weight: bold;
				color: #ae0730;
			}
		}
	}
	.team {
		font-size: 2rem;
		text-align: center;
		color: #262322;
	}
}
// oferta torów

.track {
	margin: 1rem;
	&__box {
		border-radius: 20px;
		background-color: #047aa1;
		border: 5px solid rgba(0, 0, 0, 0.448);
		overflow: hidden;
		&:nth-child(odd) {
			background-color: #03536e;
		}

		&-text {
			text-align: center;
			&-tittle {
				padding: 2.3rem 1rem;
				margin-top: 2rem;
				margin-bottom: 1rem;
				text-transform: uppercase;
				font-size: 1.5rem;
				font-weight: bold;
				color: #e8e9eb;
			}

			&-info {
				padding: 0 1rem;
				margin-bottom: 1.2rem;
				font-size: 1.4rem;
				color: #e0dfd5;
				a {
					color: #620a20;
				}
			}
			&-link {
				margin-bottom: 2rem;
				img {
					margin-bottom: 1rem;
					margin-top: 0.5rem;
					width: 10rem;
					height: 5rem;
				}

				a {
					padding: 5px 10px;
					margin: 1.5rem;
					font-size: 1.2rem;
					color: #e0dfd5;
				}
			}
		}

		&-photo {
			margin-bottom: -1rem;
			margin-top: 1rem;
			img {
				width: 100%;
				height: 50%;

				border-radius: 20px;
			}
		}
	}
	&__tittle {
		margin-top: 3rem;
		text-align: center;
		font-size: 2.5rem;
		color: #262322;
	}
}

//akcesoria
.accessories {
	padding: 0 2rem;

	&__info {
		text-align: center;
		&-tittle {
			margin-bottom: 1em;
			font-size: 1.8rem;
			font-weight: bold;
		}
		&-text {
			font-size: 1.4rem;

			&-contakt {
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: 1em;
				margin: 1rem 0;
				font-size: 1.5rem;
				color: #007ea7;
				a {
					padding: 5px;
					text-decoration: none;
					color: #007ea7;
				}
				a:visited {
					color: #007ea7;
				}
			}
			.fa-facebook {
				padding: 3rem 3rem;
				font-size: 4rem;
				animation: animation.$shake 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
					infinite both;
			}
		}
	}
	&__img {
		display: none;
	}
	&__img-mobile {
		margin-top: 2rem;
		&-box {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			img {
				width: 100%;
				height: 20rem;
				border-radius: 50%;
				box-shadow: 15px 15px 26px #808080, -15px -15px 26px #eadeda;
			}
		}
	}
}
.arrangements {
	padding: 1rem;

	&__accordion {
		padding: 0.5rem;
		width: 100%;
		border-radius: 10px;
		&-box {
			margin: 20px;
			&-btn {
				cursor: pointer;
				padding: 1em;
				width: 100%;
				text-align: center;
				font-size: 20px;
				color: #039acc;
				border-radius: 10px;
				border: 1px solid #039acc;
				transition: background-color 0.3s;
			}
			&-btn:hover,
			&-btn:focus {
				color: #fff;
				background-color: #054b62;
				outline: none;
			}
			.activeAcordeon &-btn {
				border-bottom-right-radius: 0px;
				border-bottom-left-radius: 0px;
			}
			&-info {
				overflow: hidden;
				margin-top: 1rem;
				height: 0px;
				border-radius: 15px;
				opacity: 0;
				transition: height 0.7s, opacity 0.5s;
				&-text {
					text-align: center;
					font-size: 1.2rem;
				}
			}
		}
	}
}

.planning {
	padding: 1.5rem;
	&__box {
		&-text {
			font-size: 1.4rem;
		}

		&-middle {
			margin-top: 1rem;
			margin-bottom: 1rem;
			img {
				width: 100%;
				height: 100%;
			}
		}

		&-planning,
		&-lanes,
		&-finances,
		&-arrangements,
		&-equipment {
			padding: 1.5rem;
			margin-bottom: 2rem;
			background: linear-gradient(-45deg, #039acc, #09162e98);
			box-shadow: 15px 15px 26px #808080, -15px -15px 26px #eadeda;
			border-radius: 15px;
			overflow: hidden;

			&-info {
				position: relative;
				&-tittle {
					padding: 1.5rem;
					font-size: 1.6rem;
					font-weight: bold;
					text-align: center;
					color: #e8e9eb;
				}
				&-text {
					margin-top: 1rem;
					margin-bottom: 2rem;
					text-align: center;
					font-size: 1.4rem;
					color: #e8e9eb;

					a {
						padding: rem;
						text-decoration: underline;
						font-weight: bold;
						color: #e8e9eb;
					}
					a:hover {
						color: #ef271b;
					}
				}
				&-photo {
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;

					img {
						width: 100%;
						height: 100%;
						border-radius: 15px;
					}
				}
				.icon {
					display: none;
				}
			}
		}
		&-download {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			a {
				margin: 1rem;
				padding: 10px 20px;
				width: 40%;
				text-decoration: none;
				font-size: 1.5rem;
				font-weight: bold;
				color: #ef271b;
			}

			a:before {
				content: url("../img/icony/file-pdf-solid.svg");
				position: absolute;
				left: 20%;
				width: 20px;
				height: 20px;
				color: #ef271b;
			}
		}
	}
	.pdf {
		margin-top: 4rem;
		font-size: 2rem;
		text-align: center;
		color: #ef271b;

		a {
			color: #000;
		}
	}
}
.arrow-rotate {
	transform: rotate(0);
}

.show-photo {
	transform: translateX(0) scale(1);
}

.show-card {
	opacity: 1;
	transform: scale(1);
}

.hidden {
	opacity: 0;
	transform: scale(0);
}
.svg {
	display: none;
}

.galleryPhoto {
	padding: 1.5rem;
	min-height: 500px;

	&__btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.2rem;
		width: 100%;

		&-button {
			cursor: pointer;
			padding: 1.5rem;
			font-weight: bold;
			color: #eadeda;
			background: linear-gradient(-45deg, #039acc, #09162e98);
			box-shadow: 15px 15px 26px #808080, -15px -15px 26px #eadeda;
			border-radius: 15px;
			border: none;
		}
	}
	&__box {
		position: relative;
		.first {
			z-index: 1;
		}

		&-item {
			position: absolute;
			top: 0;
			left: 0;
			margin-bottom: 1rem;
			width: 100%;
			height: 300px;
			border-radius: 15px;
			transition: transform 0.4s;
		}
		.show-photo1 {
			position: relative;
		}
	}
}
.service {
	padding: 1.5rem;
	font-size: 1.4rem;
	&__serv,
	&__moder {
		&-contacts {
			margin-top: 3rem;
			text-align: center;
			font-size: 1.5rem;
			&-tel,
			&-email {
				margin-bottom: 3rem;
				font-weight: bold;

				a {
					padding: 15px 5px;
					text-decoration: none;
					color: #007ea7;
				}
				a:visited {
					color: #007ea7;
				}
			}
			.fa-bowling-ball {
				display: none;
			}
		}

		&-info {
			&-tittle {
				margin-bottom: 2rem;
				text-align: center;
				font-size: 2rem;
				font-weight: bold;
			}
			&-list {
				padding: 1rem;
				margin-left: 2rem;
				list-style: square;
			}
		}
	}
	&__news-boxs {
		margin: 2rem 0;
		margin-top: 3rem;
		&-title {
			margin-bottom: 2rem;
			text-align: center;
			font-size: 2rem;
		}
		&-info {
			margin-top: 0.5rem;
			text-align: center;
			span {
				font-weight: bold;
				color: #007ea7;
			}
		}
	}
	&__news-card {
		&-one,
		&-two {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 2rem;
			padding: 1rem;
			width: 100%;
			min-height: 300px;
			font-weight: 200;
			color: #e8e9eb;
			background: linear-gradient(150deg, #ef261bdc, #750202c6);
			border-radius: 20px;
			&-title {
				position: relative;
				margin-bottom: 1rem;
				font-weight: bold;
				i {
					font-size: 3rem;
					color: black;
				}
				.fa-thumbs-down {
					position: absolute;
					top: 2px;
					right: -35px;
				}
			}
			&-info {
				font-weight: 400;
				margin-left: 2rem;
			}
		}
		&-two {
			margin-bottom: 2rem;
			color: #e8e9eb;
			background: linear-gradient(-45deg, #039acc, #09162e98);
			border-radius: 20px;
		}
		&-left {
			text-align: left;
		}
	}
}
.contact {
	padding: 1rem;
	font-size: 1.3rem;
	&__boxs {
		height: 100%;
		&-main,
		&-acc {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 2rem;
			padding: 1rem;
			width: 100%;
			border: 1px solid #007ea7;
			border-radius: 15px;
			&-info {
				margin: 0.5rem;
				&-span {
					margin-right: 0.5rem;
					font-weight: bold;
				}
				&-NIP {
					margin-left: 0.5rem;
				}
				a {
					margin-right: 0.5rem;
					text-decoration: none;
					font-weight: bold;
					color: #007ea7;
				}
				a:visited {
					color: #007ea7;
				}
				&--number {
					align-self: flex-start;
				}
			}
		}
	}
}
.footer {
	font-size: 1.3em;
	border-top: 1px solid #007ea7;
	&__bottom-text {
		margin: 1rem;
	}
	a {
		cursor: pointer;
		text-decoration: none;
		font-weight: bold;
		color: #ec0b43;
	}
}
// privaty
.privaty {
	padding: 1.5rem;
	h1 {
		margin-top: 0rem;
	}
	&__box {
		&-text {
			margin-bottom: 1rem;
			font-size: 1.4rem;
			font-style: italic;
		}
		&-title {
			margin-bottom: 1rem;
			font-size: 1.6rem;
		}
		h3 {
			color: #007ea7;
		}
		li {
			margin-bottom: 0.5rem;
			margin-left: 2rem;
			font-weight: bold;
			font-size: 1.5rem;
			color: #007ea7;
		}
	}
}
@import "./mediaS";
@import "./mediaM";
@import "./mediaL";
.highlighted {
	font-weight: bold;
}
.positon {
	font-weight: bold;
}

.activeAcordeon {
	height: 15rem;
	opacity: 1;
}
